<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p>infomation</p>
<table>
    <tr>
        <td><a href="https://kageki.hankyu.co.jp/star/flower.html" target=“_blank”>花組</a></td>
        <td><a href="https://kageki.hankyu.co.jp/star/star.html" target="_blank">星組</a></td>
        <td>雪組</td>
    </tr>
    <tr>
        <td>月組</td>
        <td>宙組</td>
        <td>専科</td>
    </tr>
</table>
