<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p>infomation</p>
<table>
    <tr>
        <td><a href="https://kageki.hankyu.co.jp/star/flower.html" target=“_blank”>花組</a></td>
        <td><a href="https://kageki.hankyu.co.jp/star/star.html" target="_blank">星組</a></td>
        <td><a href="https://kageki.hankyu.co.jp/star/snow.html" target="_blank">雪組</a></td>
    </tr>
    <tr>
        <td><a href="https://kageki.hankyu.co.jp/star/moon.html" target="_blank">月組</a></td>
        <td><a href="https://kageki.hankyu.co.jp/star/cosmos.html" target="_blank">宙組</a></td>
        <td><a href="https://kageki.hankyu.co.jp/star/special.html" taeget="_blank">専科</a></td>
    </tr>
</table>
